<html>
    <head>
    </head>
    <body>
        <h1> Products List</h1>
        <div class="grid">
            <% products.forEach(product => { %>
            <div class="card">
                <img src="<%= product.image_url %>" alt="<%= product.name %>" />
                <h3><%= product.name %></h3>
                <p><%= product.price.toLocaleString() %> บาท</p>
            </div>
    <%  })  %>
        </div>
    </body>
</html>